<div *ngIf="task?.length==0; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <h1>NO TASKS YET!</h1>
</ng-template>

<ng-template #elseBlock>
    <div>
        <h1>Task list</h1>
        <div class="submit-form">
            <div>
                <h3>Filter by Reported Date</h3>
                <div class="row">
                    <div class="col-md-6">
                        <label for="from_date">From :</label>&nbsp;
                        <input type="date" class="form-control" value="from_date" name="from_date" required
                            [(ngModel)]="filter.from_date">
                    </div>
                    <div class="col-md-6">
                        <label for="to_date">To :</label>&nbsp;
                        <input type="date" class="form-control" value="to_date" name="to_date" required
                            [(ngModel)]="filter.to_date">
                    </div>
                </div>
            </div>
            <div>
                <br>
                <button (click)="saveFilter()" class="btn btn-success">Submit</button>
            </div>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Remarks</th>
                        <th>Reported date</th>
                        <th>Type</th>
                        <th>Client</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of task" id="table_content">
                        <td>{{ t.vchr_title }}</td>
                        <td>{{ t.vchr_remarks }}</td>
                        <td>{{ t.rep_date | date:'dd-MM-yyyy' }}</td>
                        <!-- <th *ngFor="let item of type; index as i;">{{ item.vchr_name }}</th> -->
                        <td>{{ t.fk_type__vchr_name }}</td>
                        <td>{{ t.fk_client__vchr_name }}</td>
                        <td>{{ t.fk_priority__vchr_name }}</td>
                        <td style="text-align:center">
                            <button type="button" *ngIf="t.status == 0 || t.status == 1; else edit"
                                routerLink="/edit/{{t.pk_bint_id}}" id="Edit">Edit</button>
                            <ng-template #edit>
                            </ng-template>
                            &nbsp;
                            <button type="button" routerLink="/taskdetail/{{t.pk_bint_id}}"
                                id="History">History</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>