<div>
    <div class="submit-form">
        <div *ngIf="!submitted">

            <div class="form-group" style="width: 20%">
                <label for="rep_date">Select Reported Date </label>
                <input type="date" class="form-control" id="date" required [(ngModel)]="task.rep_date" name="rep_date">
            </div>
            <br>
            <div class="form-group">
                <label for="vchr_title">Title &nbsp;</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="task.vchr_title"
                    name="title" />
            </div>
            <br>
            <div class="form-group">
                <label for="vchr_remarks">Remarks &nbsp;</label>
                <input type="text" class="form-control" id="remarks" required [(ngModel)]="task.vchr_remarks"
                    name="remarks" />
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="fk_type">Type &nbsp;</label>
                    <select id="type" required [(ngModel)]="task.fk_type" name="type">
                        <option *ngFor="let item of type; index as i;" value="{{item.pk_bint_id}}">
                            {{item.vchr_name}}
                        </option>
                    </select>
                </div>
                <br>
                <div class="col-md-4">
                    <label for="fk_client">Client &nbsp;</label>
                    <select id="client" required [(ngModel)]="task.fk_client" name="client">
                        <option *ngFor="let item of client; index as i;" value="{{item.pk_bint_id}}">
                            {{item.vchr_name}}
                        </option>
                    </select>
                </div>
                <br>
                <div class="col-md-4">
                    <label for="fk_priority">Priority &nbsp;</label>
                    <select id="priority" required [(ngModel)]="task.fk_priority" name="priority">
                        <option *ngFor="let item of priority; index as i;" value="{{item.pk_bint_id}}">
                            {{item.vchr_name}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- <div id="created_date"></div>
                <script>
                document.getElementById("created_date").innerHTML = Date();
                </script>
            <div id="user_id"></div> -->
            <br><br><br><button id="saveTask" (click)="saveTask()" class="btn-block btn-success">Submit</button>
        </div>
        <!-- <div *ngIf="submitted">
            <h4>Task was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newTask()">Add</button>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="btn btn-success" routerLink="/list">List</button>
        </div> -->
    </div>
</div>